.container {
    height: 100vh;
    width: 100%;
    background: $app-bg;
    background-size: cover;
}
.viewport {
    width: 42vw;
    height: 21vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    perspective: 1300px;
    &::after{
        content: '';
        position: absolute;
        width: 120%;
        height: 20%;
        background-color: $color-bg;
        z-index: -1;
        top: 140%;
        left: -10%;
        filter: blur(50px);
    }
}